name: GitOps Galaxy CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0'

      - name: Restore NuGet packages cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.nuget/packages
            ~/.local/share/NuGet/Cache
          key: nuget-${{ runner.os }}-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            nuget-${{ runner.os }}-

      - name: Install dependencies
        run: dotnet restore

      - name: Publish (production build)
        run: dotnet publish --no-restore --configuration Release --output ./publish

      - name: Run tests
        run: dotnet test --no-build --verbosity normal --configuration Release

      - name: Login Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: IaC
        run: az deployment group create --resource-group GitOpsGalaxy --template-file bicep/gitopsgalaxy-appservice.bicep --parameters location='canadacentral' appServicePlanName='GitOpsGalaxyDemo-asp' webAppName='gitopsgalaxyprod' skuName='P0V3'

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: gitopsgalaxyprod
          package: ./publish
